{% extends "layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transactions') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transactions') }}
{% endblock %}

{% block title %}
    Transactions
{% endblock %}

{% block content %}
    <div class="categories container content-body">
        <div class="text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTransactionModal">
                <i class="bi bi-plus-circle me-1"></i>
                <span class="text-light">New transaction</span>
            </button>
        </div>
        {% include 'transactions/transactions_modal.twig' with {modal: {title: 'New transaction', id: 'newTransactionModal', isEdit: false}} %}
        {% include "transactions/transactions_modal.twig" with {modal: {title: 'Edit transaction', id: 'editTransactionModal', isEdit: true}} %}
        {% include "transactions/upload_receipt_modal.twig" %}
        <div>
            <table id="transactionsTable">
                <thead>
                    <tr>
                        <th>Description</th>                            
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Receipt(s)</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
